@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&family=Readex+Pro:wght@300;400;700&display=swap');

body {
    background-color:white;
}

h1 {
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

h4 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Readex Pro', sans-serif;
}

a {
    font-family: 'Readex Pro', sans-serif;
}

.boton {
    text-decoration: none;
    font-size: 12px;
    color: white;
    background-color: #4b1d4b;
    padding: 5px 40px 5px 40px;
    margin-top: 20px;
    border-radius: 30px;
    display: initial;
}

.boton:hover {
    background-color: rgb(213, 128, 0);
}

header {
    width: 100%;
    height: auto;
    background-color: #4b1d4b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

header p {
    color: white;
    font-family: poppins;
    font-weight: bold;
    font-size: 26px;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: readex pro;
    font-size: 18px;
}

nav a:hover {
    color:yellow;
}

nav ul li {
    display: inline;
    padding: 10px;
}

.portada {
    display: flex;
    width: 100%;
    /* height: 500px; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.texto {
    width: 500;
    text-align: left;
    line-height: 50px;
}

.esp {
    font-size: 24px;
}

.retrato {
    background-color: #fafa66;
    border-radius: 0px 90px 90px 90px;
    box-shadow: 4px 4px 8px rgb(223, 223, 223);
    margin-left: 40px;

}

.retrato img {
    height: auto;
    width: 350px;
    border-radius: 90px 0px 90px 90px;
    padding-top: 40px;
}

.sobremi {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 30px 0px 50px 0px;
}

.retrato2 {
    background-color:#4b1d4b;
    border-radius: 90px 0px 90px 90px;
    box-shadow: 4px 4px 8px rgb(223, 223, 223);
}

.retrato2 img {
    background-color:rgb(59, 1, 59);
    border-radius: 90px 0px 90px 90px;
    width: 250px;
    padding-top: 40px;
}

.textsobremi {
    width: 500px;
    margin-left: 40px;

}

.servicios {
    background-color:#fafa66;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px 0px 80px 0px;
}

.gridServicios {
    width: 100%;
    height: auto;
    display: grid;
    gap: 10px;
}

.gridServicios div {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid #4b1d4b;
}

.proyectos {
    text-align:center;
    margin-bottom: 150px;
}

.gridProyectos {
    width: 100%;
    height: 800px;
    display: grid;
    gap: 30px;
}

.gridProyectos div {
    box-shadow: 4px 4px 48px rgb(223, 223, 223);
}

.webBelen {
    background-image: url(img/web-belen.png);
    background-size: cover;
    background-position: left;
}

.webAguero {
    background-image: url(img/web-aguero.png);
    background-size: cover;
    background-position: center;
}

.webWarhol {
    background-image: url(img/web-warhol.png);
    background-size: cover;
    background-position: left;
}

.webBrb {
    background-image: url(img/web-brb.png);
    background-size: cover;
    background-position: center;
}

.webBv {
    background-image: url(img/web-buen-viaje.png);
    background-size: cover;
    background-position: center;
}


.secTestimonios {
    text-align: center;
    margin: 120px 0px 120px 0px;

}

.testimonios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonioItem {
    width: 300px;
}

.testimonios img {
    height: 80px;
}

.secContacto {
    background-color: black;
    color: white;
    text-align: center;
    padding: 60px 0px 100px 0px;
}

.contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Readex Pro', sans-serif;
}

footer {
    background-color: #fafa66;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0px 50px 0px;
}

.fooLogo {
    font-family: poppins;
    font-weight: bold;
    font-size: 32px;
}

footer li {
    font-family: 'Readex Pro', sans-serif;
    list-style-type: none;
    line-height: 24px;
}

footer a {
    text-decoration: none;
    color: black
}


.secAmarillo {
    background-color: #fafa66;
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 50px;
}

.mi {
    padding-top: 50px;
}

.sobremi2 {
    margin-bottom: 50px;
} 

.servicios2 {
    background-color: white;
}

.contacto2 {
    background-color: white;
    color: black;
}


@media only screen and (min-width: 480px){
    .disweb {
        grid-column: 1;
        grid-row: 1;
    }
    
    .publicidad {
        grid-column: 2;
        grid-row: 1;
    }
    
    .seo {
        grid-column: 1;
        grid-row: 2; 
    }
    
    .branding {
        grid-column: 2;
        grid-row: 2;
    }
    
    .foto {
        grid-column: 1;
        grid-row: 3;
    }
    
    .consultoria {
        grid-column: 2;
        grid-row: 3;
    }


    .webBelen {
        grid-column: 1;
        grid-row: 1;
    }

    .webAguero {
        grid-column: 2;
        grid-row: 1;
    }

    .webWarhol {
        grid-column: 1;
        grid-row: 2;
    }

    .webBrb {
        grid-column: 2;
        grid-row: 2;
    }

    .webBv {
        grid-column: 1/3;
        grid-row: 3;
    }

}

@media only screen and (min-width: 768px){
    .disweb {
        grid-column: 1;
        grid-row: 1;
    }
    
    .publicidad {
        grid-column: 2;
        grid-row: 1;
    }
    
    .seo {
        grid-column: 3;
        grid-row: 1; 
    }
    
    .branding {
        grid-column: 1;
        grid-row: 2;
    }
    
    .foto {
        grid-column: 2;
        grid-row: 2;
    }
    
    .consultoria {
        grid-column: 3;
        grid-row: 2;
    }

    
    .webBelen {
        grid-column: 1;
        grid-row: 1;
    }

    .webAguero {
        grid-column: 2/4;
        grid-row: 1;
    }

    .webWarhol {
        grid-column: 4;
        grid-row: 1;
    }

    .webBrb {
        grid-column: 1/3;
        grid-row: 2;
    }

    .webBv {
        grid-column: 3/5;
        grid-row: 2;
    }
}
